[init]
	defaultBranch = main
[user]
	name = Michael Phillips
	email = linux478@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[alias]
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  ci = commit -v
  cia = commit -va
  cm = commit -m
  co = checkout
  cob = checkout -b
  del = branch -D
  done = !git push origin HEAD
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  res = !git reset --hard
  s  = status
  save = !git add -A && git commit -m 'chore: commit save point'
  undo = reset HEAD~1 --mixed

[color "branch"]
  current = green bold
  local = green
  remote = yellow
