.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/dconf/
.config/pulse/
.config/xdg-terminals.list
.dotnet/
.fonts/
.gnome/
.kde/
.lesshst
.links2/
.local/
.npm/
.password-store/
.pki/
.python_history
.sc_history
.stack/
.surf/
.viminfo
.vscode/
.wget-hsts
.xsession-errors
Downloads/
bin/
blk/
dev/
doc/
dot/
dwn/
info/
opt/
pda/
projects/
share/
src/
tmp/
